############################
# Node
############################

node_modules/
npm-debug.log

############################
# React
############################

dist/
build/

############################
# Environment
############################

.env
.env.*

############################
# VS Code
############################

.vscode/

############################
# Mac
############################

.DS_Store

############################
# Logs
############################

*.log

############################
# Docker
############################

*.tar

############################
# Kubernetes
############################

*.swp
